.information {
	background-color: rgba(255, 255, 255, 0.65);
	width: 80%;
	height: auto;
	min-height: 18rem;
	padding: 0.625rem 1.25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 0.3125rem;
	gap: 1rem;
}

.information__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.4);
}

.information__place {
	color: var(--primaryColor);
	line-height: 1.5;
}
