.app {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

h1 {
	font-weight: 600;
	color: var(--baseColor);
	font-weight: bold;
	z-index: 2;
	width: 100%;
	padding: 1.25rem;
	text-align: center;
	text-transform: uppercase;
}

.container {
	background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
	border-radius: .3125rem;
	height: auto;
	min-height: 100vh;
	width: min(37.5rem, 95%);
}

.containter__input {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}


@media (max-width: 18.75em) {
	h1 {
		font-size: 1.5rem;
	}
}